In [4]:
import pandas as pd
import re
import string

import nltk
from nltk.probability import FreqDist
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

from wordcloud import WordCloud
from tqdm.auto import tqdm
import matplotlib.style as style
style.use('fivethirtyeight')

In [5]:
df = pd.read_csv("/Users/damac20/Downloads/Mental-Health-Twitter.csv")
df

,Unnamed: 0,post_id,post_created,post_text,user_id,followers,friends,favourites,statuses,retweets,label
0,0,637894677824413696,Sun Aug 30 07:48:37 +0000 2015,It's just over 2 years since I was diagnosed w...,1013187241,84,211,251,837,0,1
1,1,637890384576778240,Sun Aug 30 07:31:33 +0000 2015,"It's Sunday, I need a break, so I'm planning t...",1013187241,84,211,251,837,1,1
2,2,637749345908051968,Sat Aug 29 22:11:07 +0000 2015,Awake but tired. I need to sleep but my brain ...,1013187241,84,211,251,837,0,1
3,3,637696421077123073,Sat Aug 29 18:40:49 +0000 2015,RT @SewHQ: #Retro bears make perfect gifts and...,1013187241,84,211,251,837,2,1
4,4,637696327485366272,Sat Aug 29 18:40:26 +0000 2015,It’s hard to say whether packing lists are mak...,1013187241,84,211,251,837,1,1
...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,819336825231773698,Thu Jan 12 00:14:56 +0000 2017,A day without sunshine is like night.,1169875706,442,230,7,1063601,0,0
19996,19996,819334654260080640,Thu Jan 12 00:06:18 +0000 2017,"Boren's Laws: (1) When in charge, ponder. (2) ...",1169875706,442,230,7,1063601,0,0
19997,19997,819334503042871297,Thu Jan 12 00:05:42 +0000 2017,The flow chart is a most thoroughly oversold p...,1169875706,442,230,7,1063601,0,0
19998,19998,819334419374899200,Thu Jan 12 00:05:22 +0000 2017,"Ships are safe in harbor, but they were never ...",1169875706,442,230,7,1063601,0,0
19999,19999,819334270825197568,Thu Jan 12 00:04:47 +0000 2017,Black holes are where God is dividing by zero.,1169875706,442,230,7,1063601,0,0

In [6]:
num_unique_names = df['user_id'].nunique()
print(num_unique_names)

72

In [7]:
num_unique_names = df['post_text'].nunique()
print(num_unique_names)

19488

In [8]:
num_unique_names = df['post_created'].nunique()
print(num_unique_names)

19102

In [9]:
name_counts = df['post_text'].value_counts()
most_common_name = name_counts.index[0]

print('The most common name is:', most_common_name)

The most common name is: Oh crap! It's a trap! Aleph took damage.

In [10]:
most_common_rows = df[df['post_text'] == most_common_name]

print('Rows with the most common name:')
print(most_common_rows)

Rows with the most common name:
       Unnamed: 0             post_id                    post_created  \
13460       13460  819381713755258880  Thu Jan 12 03:13:18 +0000 2017
13502       13502  818279436336234497  Mon Jan 09 02:13:15 +0000 2017
13506       13506  818083154460164101  Sun Jan 08 13:13:17 +0000 2017
13518       13518  817901952734412800  Sun Jan 08 01:13:16 +0000 2017
13528       13528  817584854707499009  Sat Jan 07 04:13:14 +0000 2017
13635       13635  814715948892491776  Fri Dec 30 06:13:13 +0000 2016
13652       13652  814293175976095744  Thu Dec 29 02:13:16 +0000 2016
13657       13657  814096887112269824  Wed Dec 28 13:13:17 +0000 2016
13715       13715  812617196346085376  Sat Dec 24 11:13:31 +0000 2016
13769       13769  811077066208649216  Tue Dec 20 05:13:36 +0000 2016
13777       13777  810744877960937472  Mon Dec 19 07:13:36 +0000 2016
13792       13792  810352296416538624  Sun Dec 18 05:13:37 +0000 2016
13807       13807  809944612777271296  Sat Dec 17 02:13:38 +0000 2016
13816       13816  809672841767440384  Fri Dec 16 08:13:43 +0000 2016
13847       13847  808812276090212352  Tue Dec 13 23:14:08 +0000 2016

                                      post_text             user_id  \
13460  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13502  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13506  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13518  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13528  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13635  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13652  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13657  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13715  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13769  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13777  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13792  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13807  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13816  Oh crap! It's a trap! Aleph took damage.  762433972273950725
13847  Oh crap! It's a trap! Aleph took damage.  762433972273950725

       followers  friends  favourites  statuses  retweets  label
13460         20        0           0      2143         0      0
13502         20        0           0      2143         1      0
13506         20        0           0      2143         0      0
13518         20        0           0      2143         0      0
13528         20        0           0      2143         1      0
13635         20        0           0      2143         0      0
13652         20        0           0      2143         0      0
13657         20        0           0      2143         0      0
13715         20        0           0      2143         0      0
13769         20        0           0      2143         1      0
13777         20        0           0      2143         1      0
13792         20        0           0      2143         0      0
13807         20        0           0      2143         0      0
13816         20        0           0      2143         0      0
13847         20        0           0      2143         0      0

In [11]:

def remove_line_breaks(text):
    text = text.replace('\r', ' ').replace('\n', ' ')
    return text

#remove punctuation
def remove_punctuation(text):
    re_replacements = re.compile("__[A-Z]+__")  # such as __NAME__, __LINK__
    re_punctuation = re.compile("[%s]" % re.escape(string.punctuation))
    '''Escape all the characters in pattern except ASCII letters and numbers'''
    tokens = word_tokenize(text)
    tokens_zero_punctuation = []
    for token in tokens:
        if not re_replacements.match(token):
            token = re_punctuation.sub(" ", token)
        tokens_zero_punctuation.append(token)
    return ' '.join(tokens_zero_punctuation)

def remove_special_characters(text):
    text = re.sub('[^a-zA-z0-9\s]', '', text)
    return text

def lowercase(text):
    text_low = [token.lower() for token in word_tokenize(text)]
    return ' '.join(text_low)

def remove_stopwords(text):
    stop = set(stopwords.words('english'))
    word_tokens = nltk.word_tokenize(text)
    text = " ".join([word for word in word_tokens if word not in stop])
    return text

#remobe one character words
def remove_one_character_words(text):
    '''Remove words from dataset that contain only 1 character'''
    text_high_use = [token for token in word_tokenize(text) if len(token)>1]      
    return ' '.join(text_high_use)   
    
#%%
# Stemming with 'Snowball stemmer" package
def stem(text):
    stemmer = nltk.stem.snowball.SnowballStemmer('english')
    text_stemmed = [stemmer.stem(token) for token in word_tokenize(text)]        
    return ' '.join(text_stemmed)

def lemma(text):
    wordnet_lemmatizer = WordNetLemmatizer()
    word_tokens = nltk.word_tokenize(text)
    text_lemma = " ".join([wordnet_lemmatizer.lemmatize(word) for word in word_tokens])       
    return ' '.join(text_lemma)


#break sentences to individual word list
def sentence_word(text):
    word_tokens = nltk.word_tokenize(text)
    return word_tokens
#break paragraphs to sentence token 
def paragraph_sentence(text):
    sent_token = nltk.sent_tokenize(text)
    return sent_token    


def tokenize(text):
    """Return a list of words in a text."""
    return re.findall(r'\w+', text)

def remove_numbers(text):
    no_nums = re.sub(r'\d+', '', text)
    return ''.join(no_nums)



def clean_text(text):
    _steps = [
    remove_line_breaks,
    remove_one_character_words,
    remove_special_characters,
    lowercase,
    remove_punctuation,
    remove_stopwords,
    stem,
    remove_numbers
]
    for step in _steps:
        text=step(text)
    return text

In [12]:
df

,Unnamed: 0,post_id,post_created,post_text,user_id,followers,friends,favourites,statuses,retweets,label
0,0,637894677824413696,Sun Aug 30 07:48:37 +0000 2015,It's just over 2 years since I was diagnosed w...,1013187241,84,211,251,837,0,1
1,1,637890384576778240,Sun Aug 30 07:31:33 +0000 2015,"It's Sunday, I need a break, so I'm planning t...",1013187241,84,211,251,837,1,1
2,2,637749345908051968,Sat Aug 29 22:11:07 +0000 2015,Awake but tired. I need to sleep but my brain ...,1013187241,84,211,251,837,0,1
3,3,637696421077123073,Sat Aug 29 18:40:49 +0000 2015,RT @SewHQ: #Retro bears make perfect gifts and...,1013187241,84,211,251,837,2,1
4,4,637696327485366272,Sat Aug 29 18:40:26 +0000 2015,It’s hard to say whether packing lists are mak...,1013187241,84,211,251,837,1,1
...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,819336825231773698,Thu Jan 12 00:14:56 +0000 2017,A day without sunshine is like night.,1169875706,442,230,7,1063601,0,0
19996,19996,819334654260080640,Thu Jan 12 00:06:18 +0000 2017,"Boren's Laws: (1) When in charge, ponder. (2) ...",1169875706,442,230,7,1063601,0,0
19997,19997,819334503042871297,Thu Jan 12 00:05:42 +0000 2017,The flow chart is a most thoroughly oversold p...,1169875706,442,230,7,1063601,0,0
19998,19998,819334419374899200,Thu Jan 12 00:05:22 +0000 2017,"Ships are safe in harbor, but they were never ...",1169875706,442,230,7,1063601,0,0
19999,19999,819334270825197568,Thu Jan 12 00:04:47 +0000 2017,Black holes are where God is dividing by zero.,1169875706,442,230,7,1063601,0,0